{
  "defaultSeverity": "warning",
  "extends": [
    "tslint:recommended",
    "prettier"
  ],
  "linterOptions": {
    "exclude": [
      "node_modules/**"
    ]
  },
  "rules": {
    "interface-name": false,
    "ordered-imports": false,
    "object-literal-sort-keys": false,
    "no-consecutive-blank-lines": false,
    "member-access": false,
    "prettier/prettier": [
      "error", {
        "usePrettierrc": true
      }
    ]
  }
}
