---
---

<footer>
	&copy; krrrr38 All rights reserved. <a target="_blank" href="https://github.com/krrrr38/krrrr38.com">GitHub</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
