---
---

<section class="basic">
  <h1>krrrr38 info</h1>
  <div class="icon">
    <img src="/assets/images/profile.jpg" alt="profile" />
  </div>
  <div>
    <h2>About Me</h2>
    <p>Software Engineer</p>
    interested in Scala, golang, AWS, GCP, CI/CD, Music, ...
  </div>
</section>
<style>
  .icon {
    position: absolute;
    right: 10%;
    top: 15px;
  }

  .icon img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }

  @media screen and (max-width: 480px) {
    .icon img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }
  }
</style>
